$white:             #ffffff !default;
$black:             #222222 !default; // I hate exact black. Eeww

$primary:           #0F2319 !default;
$error:             #C94736 !default;
$secondary:         #269883 !default;

$darkgrey:          #323232 !default;
$lightgrey:         #a7a7a7 !default;

$grey00:                      $black;
$grey01:                      #212121 !default;
$grey02:                      #34353c !default;
$grey03:                      #4b4b4b !default;
$grey04:                      #6e6e6e !default;
$grey05:                      #969696 !default;
$grey06:                      #a6a6a6 !default;
$grey07:                      #bababa !default;
$grey08:                      #efefef !default;
$grey09:                      #f9f9f9 !default;
$grey10:                      $white;

// Branding
$color1: #269883;
$color2: #0B5085;
$color3: #A5FEF4;
$color4: #5DCCDD;
$color5: #0F2319;

// Styleguide
$gutter:            12px !default;
$border-radius:     12px !default;

// Responsiveness
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default
// 960px container + 40px
$desktop: 1000px !default
// 1152px container + 40px
$widescreen: 1192px !default
// 1344px container + 40px
$fullhd: 1384px !default
